{% extends "master.html" %}
{% load static %}
{% block content %}
    <div class='contact'>
      <div class="header">
        <h1>Contact Us</h1>
    </div>
    <div class="container">
        <p>You can reach us on social media:</p>
        <ul class="social-links">
            <li><a href="https://www.facebook.com">Facbook</a></li>
            <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com">Instagram</a></li>
            <li><a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://api.whatsapp.com">WhatsApp</a></li>
            <li><a href="https://api.whatsapp.com"><i class="fa-brands fa-square-whatsapp"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %} 