{% extends "master.html" %}
{% load static %}
{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'About:about' %}">About Us</a></li>
            <li><a href="{% url 'Product1:product_list' %}">Categories</a></li>
            <li><a href="{% url 'Contact:contact' %}">Contact Us</a></li>
        </ul>
            <img src="{% static 'khaklogo.png' %}">
        <ul>
            <li><a href="{% url 'Account:account' %}"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="{% url 'cart:cart' %}"><i class="fas fa-cart-shopping"></i>{{ cart_items|length }}</a></li>
         
        </ul>

    </nav>
    <div class="bg-image">
        <div class="hd">
            <h1>Welcome to Khaksaar – Where Tradition Meets Street Style.</h1>
        </div>
        <div class="shop-now-button">
            <a href="{% url 'Product1:product_list' %}"><button class="shop-button">Shop Now</button></a>
        </div>
    </div>

    {% endblock %}
