{% extends "master.html" %}
{% load static %}
{% block content %}
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="/home/detail/"></a>Categories</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
            <img src="{% static 'khaklogo.png' %}">
        <ul>
            <li><a href="profile.html"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="index.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

    </nav>
    <div class="bg-image">
        <div class="hd">
            <h1>Welcome to Khaksaar – Where Tradition Meets Street Style.</h1>
        </div>
        <div class="shop-now-button">
            <a href="products.html"><button class="shop-button">Shop Now</button></a>
        </div>
    </div>

    {% endblock %}
