<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khaksaar</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="products.html">Categories</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <img src="khaklogo.png">
        <ul>
            <li><a href="profile.html"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="index.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

    </nav>
    <div class="bg-image">
        <div class="hd">
            <h1>Welcome to Khaksaar – Where Tradition Meets Street Style.</h1>
        </div>
        <div class="shop-now-button">
            <a href="products.html"><button class="shop-button">Shop Now</button></a>
        </div>
    </div>

</body>
</html>
