{% extends "master.html" %}
{% load static %}
{% block content %}
      <h1>Login</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit"><a href="{% url 'home' %}">Login</a></button>
    </form>
      <p>Don't have an account? <a href="{% url 'Account:login' %}"  class="login-pg">Sign Up</a></p>

    {% endblock %}
