{% extends "master.html" %}
{% load static %}
{% block content %}
      <div class="profile container">
     <h2>Create an account to enjoy exclusive access to special offers, receive regular notifications about new arrivals, and unlock member-only discounts.</h2>
    <p>Please choose an option:</p>
        <a href="{% url 'Account:signup' %}"><button class="black-button">Sign Up</button></a>
        <a href="{% url 'Account:login' %}"><button class="black-button">Login</button></a>
    </div>

    {% endblock %}