{% extends "master.html" %}
{% load static %}
{% block content %}

    <h1 class="yc">Your Cart</h1>
  
    {% if cart_items %}
    

        <ul class="cart-list">
            {% for item in cart_items %}
            <li>
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <h3>{{ item.product.name }}</h3>
                <p>Price: Rs.{{ item.product.price }}</p>
                <p>Size: {{ item.size }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Total Price: Rs.{{ item.total_price }}</p>
                
                <p></p>
                <p><a href="javascript:void(0);" onclick="removeFromCart('{{ item.id }}');" class="rm">Remove</a></p>

            </li>
            {% endfor %}
        </ul>
        <p>Total Cart Price: Rs.{{ cart.total_price }}</p>
        
        <div class="button-container">
        <button type="submit"><a href="{% url 'cart:checkout' %}" class="cart-button">Checkout</a></button>
     
        <p></p>   
        
        <p>or you want to</p>
        <h3 class="cs"><a href="{% url 'Product1:product_list' %}">Continue Shopping</a></h3>
      
        <button type="submit"><a href="{% url 'Product1:product_list' %}" class="cart-button">Clear Cart</a></button>
        </div>
      
        <script>
       
        function removeFromCart(itemId) {
               const removeUrl = document.querySelector(`[data-remove-url="${itemId}"]`).getAttribute('data-remove-url');

               fetch(removeUrl, {
                  method: 'POST',
                  headers: {
                  'X-CSRFToken': "{{ csrf_token }}",
                   },
                })
                .then(response => {
                   if (response.status === 200) {
                   // Reload the cart page or update the cart display
                       location.reload();
                 } else {
                        console.error('Error:', response.status);
                    }
                 })
                .catch(error => console.error('Error:', error));
                }



        </script>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}