
{% extends "master.html" %}
{% load static %}
{% block content %}
      <div class="header">
        <h1>Our Products</h1>
       </div>

      <div class="product-list">
        
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=0 %}">
            <img src="{% static 'tshirt1.jpg' %}" alt="Product 1">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>

        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=1 %}">
            <img src="{% static 'tshirt2.jpg' %}" alt="Product 2">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
                </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=2 %}">
            <img src="{% static 'tshirt3.jpg' %}" alt="Product 3">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=3 %}">
            <img src="{% static 'tshirt4.jpg' %}" alt="Product 4">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=4 %}">
            <img src="{% static 'tshirt5.jpg' %}" alt="Product 5">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=5 %}">
            <img src="{% static 'tshirt6.jpg' %}" alt="Product 6">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=6 %}">
            <img src="{% static 'tshirt7.png' %}" alt="Product 7">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=7 %}">
            <img src="{% static 'tshirt8.png' %}" alt="Product 8">
            <h2>T-shirt</h2>
            <p>Price: Rs.2000</p>
            <button>Add to Cart</button>
            </a>
        </div>
          <div class="product">
              <a href="{% url 'Product1:productdetails' productIndex=8 %}">
            <img src="{% static 'hoodie1.jpg' %}" alt="Product 9">
            <h2>Hoodie</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
              </a>
          </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=9 %}">
            <img src="{% static 'hoodie2.png' %}" alt="Product 10">
            <h2>Hoodie</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
            </a>
          </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=10 %}">
            <img src="{% static 'hoodie3.png' %}" alt="Product 11">
            <h2>Hoodie</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
            </a>
          </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=11 %}">
            <img src="{% static 'hoodie4.png' %}" alt="Product 12">
            <h2>Hoodie</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
            </a>
          </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=12 %}">
            <img src="{% static 'hoodie5.png' %}" alt="Product 13">
            <h2>Hoodie</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
            </a>
          </div>

          <div class="product">
              <a href="{% url 'Product1:productdetails' productIndex=13 %}">
            <img src="{% static 'scarf2.jpg.webp' %}" alt="Product 14">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
              </a>
          </div>

          <div class="product">
              <a href="{% url 'Product1:productdetails' productIndex=14 %}">
            <img src="{% static 'scarf1.jpg.webp' %}" alt="Product 15">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
              </a>
          </div>

          <div class="product">
              <a href="{% url 'Product1:productdetails' productIndex=15 %}">
            <img src="{% static 'scarf3.jpg.webp' %}" alt="Product 16">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
              </a>
          </div>
        <div class="product">
            <a href="{% url 'Product1:productdetails' productIndex=16 %}">
            <img src="{% static Stole.jpg.webp %}" alt="Product 17">
            <h2>Scarf</h2>
            <p>Price: Rs.3800</p>
            <button>Add to Cart</button>
            </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=17 %}">
            <img src="{% static 'scarf5.jpg.webp' %}" alt="Product 18">
            <h2>Scarf</h2>
            <p>Price: Rs.3800</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=18 %}">
            <img src="{% static 'scarf7.jpg.webp' %}" alt="Product 19">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=19 %}">
            <img src="{% static 'scarf8.jpg.webp' %}" alt="Product 20">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=20 %}">
            <img src="{% static 'scarf9.jpg.webp' %}" alt="Product 21">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=21 %}">
            <img src="{% static 'scarf10.jpg.webp' %}" alt="Product 22">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=22 %}">
            <img src="{% static 'scarf11.jpg.webp' %}" alt="Product 23">
            <h2>Scarf</h2>
            <p>Price: Rs.3500</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=23 %}">
            <img src="{% static 'shirt1.jpg.webp' %}" alt="Product 24">
            <h2>Shirt</h2>
            <p>Price: Rs.2500</p>
            <button>Add to Cart</button>
          </a>
        </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=24 %}">
            <img src="{% static 'shirt2.jpg.webp' %}" alt="Product 25">
            <h2>Shirt</h2>
            <p>Price: Rs.2500</p>
            <button>Add to Cart</button>
          </a>
        </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=25 %}">
            <img src="{% static 'shirt3.jpg.webp' %}" alt="Product 26">
            <h2>Shirt</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
          </a>
        </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=26 %}">
            <img src="{% static 'shirt4.jpg.webp' %}" alt="Product 27">
            <h2>Shirt</h2>
            <p>Price: Rs.3000</p>
            <button>Add to Cart</button>
          </a>
        </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=27 %}">
            <img src="{% static 'shirt5.jpg' %}" alt="Product 28">
            <h2>Shirt</h2>
            <p>Price: Rs.2500</p>
            <button>Add to Cart</button>
          </a>
        </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=28 %}">
            <img src="{% static 'shirt6.jpg.webp' %}" alt="Product 29">
            <h2>Shirt</h2>
            <p>Price: Rs.2800</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=29 %}">
            <img src="{% static 'shirt7.jpg.webp' %}" alt="Product 30">
            <h2>Shirt</h2>
            <p>Price: Rs.2800</p>
            <button>Add to Cart</button>
          </a>
          </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=30 %}">
            <img src="{% static 'shirt8.jpg.webp' %}" alt="Product 31">
            <h2>Shirt</h2>
            <p>Price: Rs.3100</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=31 %}">
            <img src="{% static 'denim1.png' %}" alt="Product 32">
            <h2>Denim</h2>
            <p>Price: Rs.4000</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=32 %}">
            <img src="{% static 'denim2.png' %}" alt="Product 33">
            <h2>Denim</h2>
            <p>Price: Rs.4000</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=33 %}">
            <img src="{% static 'denim3.png' %}" alt="Product 34">
            <h2>Denim</h2>
            <p>Price: Rs.4000</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=34 %}">
            <img src="{% static 'denim4.png' %}" alt="Product 35">
            <h2>Denim</h2>
            <p>Price: Rs.4000</p>
            <button>Add to Cart</button>
          </a>
      </div>
      <div class="product">
          <a href="{% url 'Product1:productdetails' productIndex=35 %}">
            <img src="{% static 'denim5.png' %}" alt="Product 36">
            <h2>Denim</h2>
            <p>Price: Rs.4000</p>
            <button>Add to Cart</button>
          </a>
      </div>

    
      </div>


      {% endblock %}